<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.userdao.ProductBeanMapper">
  <resultMap id="BaseResultMap" type="com.company.userbean.ProductBean">
    <id column="productid" jdbcType="INTEGER" property="productid" />
    <result column="productname" jdbcType="VARCHAR" property="productname" />
    <result column="productprice" jdbcType="DECIMAL" property="productprice" />
  </resultMap>
  <sql id="Base_Column_List">
    productid, productname, productprice
  </sql>
  <select id="selectByPrimaryKey9" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product
    where productid = #{productid,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKey29" parameterType="com.company.userbean.ProductBean" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product
    where productid = #{productid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey9" parameterType="java.lang.Integer">
    delete from product
    where productid = #{productid,jdbcType=INTEGER}
  </delete>
  <insert id="insert9" parameterType="com.company.userbean.ProductBean">
    insert into product (productid, productname, productprice
      )
    values (#{productid,jdbcType=INTEGER}, #{productname,jdbcType=VARCHAR}, #{productprice,jdbcType=DECIMAL}
      )
  </insert>

  <update id="updateByPrimaryKeySelective9" parameterType="com.company.userbean.ProductBean">
    update product
    <set>
      <if test="productname != null">
        productname = #{productname,jdbcType=VARCHAR},
      </if>
      <if test="productprice != null">
        productprice = #{productprice,jdbcType=DECIMAL},
      </if>
    </set>
    where productid = #{productid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey9" parameterType="com.company.userbean.ProductBean">
    update product
    set productname = #{productname,jdbcType=VARCHAR},
      productprice = #{productprice,jdbcType=DECIMAL}
    where productid = #{productid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap9" type="com.company.userbean.ProductBean">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="INTEGER" property="price" />
  </resultMap>
  <insert id="insert" parameterType="com.company.userbean.ProductBean">
    insert into product (id, name, price
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{price,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective9" parameterType="com.company.userbean.ProductBean">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="price != null">
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>