<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.userdao.SupplierBeanMapper">
  <resultMap id="BaseResultMap" type="com.company.userbean.SupplierBean">
    <id column="supplierid" jdbcType="INTEGER" property="supplierid" />
    <result column="suppliername" jdbcType="VARCHAR" property="suppliername" />
    <result column="supplierbank" jdbcType="VARCHAR" property="supplierbank" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  <sql id="Base_Column_List">
    supplierid, suppliername, supplierbank, industry, remarks
  </sql>
  <select id="selectsupplierByPrimaryKey" parameterType="com.company.userbean.SupplierBean" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from supplier
    where supplierid = #{supplierid,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from supplier
    where supplierid = #{supplierid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from supplier
    where supplierid = #{supplierid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.company.userbean.SupplierBean">
    insert into supplier (supplierid, suppliername, supplierbank, 
      industry, remarks)
    values (#{supplierid,jdbcType=INTEGER}, #{suppliername,jdbcType=VARCHAR}, #{supplierbank,jdbcType=VARCHAR}, 
      #{industry,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.company.userbean.SupplierBean">
    insert into supplier
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="supplierid != null">
        supplierid,
      </if>
      <if test="suppliername != null">
        suppliername,
      </if>
      <if test="supplierbank != null">
        supplierbank,
      </if>
      <if test="industry != null">
        industry,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="supplierid != null">
        #{supplierid,jdbcType=INTEGER},
      </if>
      <if test="suppliername != null">
        #{suppliername,jdbcType=VARCHAR},
      </if>
      <if test="supplierbank != null">
        #{supplierbank,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.userbean.SupplierBean">
    update supplier
    <set>
      <if test="suppliername != null">
        suppliername = #{suppliername,jdbcType=VARCHAR},
      </if>
      <if test="supplierbank != null">
        supplierbank = #{supplierbank,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where supplierid = #{supplierid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.userbean.SupplierBean">
    update supplier
    set suppliername = #{suppliername,jdbcType=VARCHAR},
      supplierbank = #{supplierbank,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR}
    where supplierid = #{supplierid,jdbcType=INTEGER}
  </update>
</mapper>